@font-face {
  font-family: scripting;
  src: url(../assets/Salonica-Wym59.ttf) format("truetype");
}

@font-face {
  font-family: prompty;
  src: url(../assets/HaeresletterRegular-3zm96.otf) format("opentype");
}

@font-face {
  font-family: newsy;
  src: url(../assets/RondalRegular-K7ORW.otf) format("opentype");
}

h1{
  font-family: 'scripting', 'arial', sans-serif;
  font-size: 700%;
  margin-block-start: 0;
  margin-block-end: 0;
}

p{
  font-family: 'prompty', sans-serif;
  font-size: xx-large;
}

h3{
  font-family: 'scripting', 'arial', sans-serif;
  font-weight: normal;
  font-size: 400%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.main-page{
  margin: 45px;
  text-align: center;
}

textarea{
  width: 75%;
  max-width: 100%;
  border-width: 2px;
  // border-radius: 15%;
  border-style: dashed;
  border-color: rgb(200, 200, 158);
  padding: 5px;
  text-align: center;
  outline: none;
  font-family: 'arial', sans-serif;
  font-size:larger;
}

textarea::placeholder {
  opacity: 40%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

// textarea::-webkit-scrollbar {
//   width: 1em;
// }

// textarea::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }

// textarea::-webkit-scrollbar-thumb {
//   background-color: darkgrey;
//   outline: 1px solid slategrey;
// }

// textarea::-webkit-resizer addresses {
//   opacity: 0;

// }
